<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="src/bingo.css">
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="src/bingo.js"></script>
    <title>BINGO IN TOS</title>
</head>
<body>
    <div class="wrapper">
        <header></header>
        <div class="container__bingo">
            <ul class="bingo-card">

            </ul>
        </div>
        <footer></footer>        
    </div>
    <!-- Modal Structure -->
    <div id="modal" class="modal">
        <div class="modal-content">
            
        </div>
        <input id="radio-A" type="radio" name="team" value="A"/><label for="radio-A">TEAM-A</label>
        <input id="radio-B" type="radio" name="team" value="B"/><label for="radio-B">TEAM-B</label>
        <input id="radio-C" type="radio" name="team" value="C"/><label for="radio-C">TEAM-C</label>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <script id="bingo-card-template" type="text/javascript">
        <% for(var i = 0; i < 5; i++) { %>
            <li class="bingo-card--item">
                <a id="<%= 'question-' + i %>" class="card--link" href="#modal" data-num="<%= i %>" data-question="<%= 'question-' + 1 %>">Modal<%= i %></a>
            </li>
        <% } %> 
    </script>  
</body>
</html>